.text-container {
    width: 100%;
    margin-bottom: 20px;
}

.rule-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

.rule-text {
    width: 60%;
}

.rule-image {
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}

