body {
    width: 100%;
    min-height: 100vh; /* ビューポートの高さを100%に */
    background-color: #526D82;
    color:#ede4dd;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  *{
    margin: 0;
    padding: 0;
  }

body .DayTimeBody{
    background-color: #ede4dd;
}
body .NightTimeBody{
    background-color: #526D82;
}

.main-content {
    width: 100%;
    flex: 1 1 auto;
    box-sizing: border-box;
    /* text-align: center;  */
}

.container {
    width: 100%;
    min-height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* 上下に要素を分ける */
    overflow: hidden;
    flex-grow: 1;
}

.text-container {
    width: 100%;
    margin-bottom: 20px;
}

a{
    text-decoration: none;
}


.btn-group {
    position: absolute;
    width: 200px;
    height: 73px;
    background: #27374D;
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    letter-spacing: -0.03em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-group:hover {
    background: #990200;
}
h1{
    text-align: center;
}

/*ゲーム画面以外のヘッダー*/
.regular-header {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}



