.text-center-content {
    width: 100%;
    margin: auto;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 120%;
    text-align: center;
    letter-spacing: -0.03em;
}


.message {
    margin: 20px 0; /* 各メッセージに上下のスペースを追加 */
}

.message1 {
    /* margin-bottom: 50px; メッセージ1とアイコンの間のスペース */
    /* margin-top: 20px; */
    font-size: 20px;
}

.message2 {
    margin-top: 50px; /* アイコンとメッセージ2の間のスペース */
    font-size: 20px;
}

.mail-icon {
    width: 60%; /* サイズを調整 */
    height: auto; /* 縦横比を保持 */
    margin: 20px auto; /* 上下のスペースと中央揃え */
    display: block; /* 中央揃え */
    cursor: pointer;
    transition: transform 0.2s ease;
    border-radius: 10px;
}

.mail-icon:hover {
    transform: scale(1.5);
}

