.rule-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
}

.rule-text {
    margin-left: 1vh;
    /* width: 45%; */
    font-size: 1.7vh;
}

.rule-h2 {
    font-size: 2.2vh;
}

.rule-image {
    /* width: 45%; */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .main-content {
    width: 80%;
    max-width: 800px;
}

.slide-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide-image {
    width: 100%;
    height: auto;
    max-width: 100%;
    object-fit: contain;
}

.slider-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.control-button {
    margin: 0 10px;
}

.slide-counter {
    margin: 0 20px;
    font-size: 1.2em;
}

.center-button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
} */