
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 100%;
  max-height: calc(100%-180px);
  box-sizing: border-box;
  padding-bottom:50px;
}

.content_top {
  margin-bottom: 20px;
  text-align: center;
  padding-bottom: 30px;
}

.content_main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  flex-grow: 1;
  margin-bottom: 20px;
  gap: 20px;
  box-sizing: border-box;
}

.content_left h2{
  text-align: right;
}

.content_left h1{
  text-align: right;
  padding-top: 30px;
}

.content_right, .content_left {
  flex: 1;
  max-width: 48%;
  box-sizing: border-box;
}

.content_right img {
  max-width: 80%;
  max-height: 300px; /* 高さに制限を設定 */
  object-fit: contain;
}

.cordingphase_re {
  text-align: center;
  margin: 20px 0;
}

.cordingphase_re button {
  font-size: 24px;
  font-weight: 700;
  color: #FFFFFF;
  background: #2F2BF7;
  border: none;
  border-radius: 9px;
  padding: 10px 20px;
  cursor: pointer;
}

.cordingphase_re button:hover {
  background: #1E1E1E;
}
