
  
  .selected {
    background-color: #990200 !important;
    color: white !important;
  }
  .selected:hover {
    color:#27374D !important;
    border-color: #27374D !important;
}
  
 
  .submit:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }

  .vote-item-btn{
    font-size: larger;
    font-weight: bold;
    width: 100px;


  }


  .vote-btn{
    width: 15vw;
    height: calc(15vw*0.35);
    font-size: x-large;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
}